{% macro database_card(database_, id) %}
<div class="col-xl-12 hover">
    <div class="row p-1">
        <a class="col font-custom fs-5" href="{{ url_for('database', db=database_.name) }}">{{ database_.name }}</a>
        <span class="col font-custom"><i class="bi bi-table"></i> {{ database_.tables | length }}</span>
        <div class="col d-flex justify-content-end">
            <a href="{{ url_for('drop_database', db=database_.name) }}" style="display: none" id="deleteDB{{ id }}" class="text-danger btn btn-sm">Drop?</a>
            <a onclick="toggleDiv('deleteDB' + {{ id }})" class="btn text-danger"><i class="bi bi-x-lg"></i></a>
        </div>
    </div>
</div>
{% endmacro %}

{% macro table_card(table_, id) %}
<div class="col-xl-12">
    <div class="p-3 border-bottom mb-3">
        <span class="font-custom fs-5">{{ table_.name }}</span>
        <div class="mt-2 fst-italic">
            {% for i in table_.description %}
            <div class="ps-5">
                <span>{{ i[0] }}</span>
                <span class="text-uppercase">{{ i[1].decode() }}</span>
            </div>
            {% endfor %}
        </div>
        <div class="mt-4">
            <a class="btn btn-sm btn-outline-secondary me-2" onclick="toggleDiv('showCreate' + {{ id }})"><i class="bi bi-asterisk"></i> Show Create</a>
            <a class="btn btn-sm btn-outline-danger me-2" onclick="toggleDiv('dropTable' + {{ id }})"><i class="bi bi-trash3"></i> Drop</a>
            <a href="{{ url_for('drop_table', db=table_.database.name, table=table_.name) }}" class="text-danger" id="dropTable{{ id }}" style="display: none">Drop?</a>
        </div>
        <textarea rows="15" class="w-100 form-control border-0 mt-4 font-monospace" style="display: none" id="showCreate{{ id }}">{{ table_.create_stmt[0][1] }}</textarea>
    </div>
</div>
{% endmacro %}

{% macro database_create_form() %}
<form method="POST" action="{{ url_for('create_database') }}" class="input-group">
    <input required class="form-control" placeholder="Name" name="name" autocomplete="off">
    <button class="btn btn-outline-success"><i class="bi bi-plus-lg"></i> Create Database</button>
</form>
{% endmacro %}

{% macro table_create_form(database_) %}
<form method="POST" action="{{ url_for('create_table', db=database_.name) }}">
    <input required class="form-control mb-3" placeholder="Table Name" name="name" autocomplete="off">
    
    <div class="mb-3">
        <div class="input-group" id="newCol">
            <input required class="form-control" placeholder="Column Name" name="cols" autocomplete="off">
        </div>
    </div>
    
    <a onclick="newColumn()" class="btn w-100 text-success"><i class="bi bi-plus-lg"></i> New Column</a>
    <button class="btn btn-outline-success w-100 mt-3"><i class="bi bi-plus-lg"></i> Create Table</button>
</form>
{% endmacro %}
